html
{
	margin: 0 auto;
	max-width: 1920px;
}
body::-webkit-scrollbar
{
	width: 12px;
}
body::-webkit-scrollbar-track
{
	background: lightgray;
}
body::-webkit-scrollbar-thumb
{
	background-color: lightslategray;
	border: 3px solid lightgray;
	border-radius: 20px;
}
.start_active
{
	float: right;
}

.lyric
{
	width: 50%;
}
.pill
{
	background-color: lightgray;
	border-radius: 0.25em;
	margin: 0.1em;
	min-width: 100px;
	padding: 0.35em;
}
.header
{
	display: none;
}
.angle-style
{
	background-color: rgba(211, 211, 211, 0.626);
}
.active-pill
{
	background-color: mediumturquoise;
}
.subject_empty
{
	display: none;
}
.empty
{
	display: none;
}
textarea:focus, input:focus
{
	outline: none;
}
.required
{
	border: solid 1px deeppink;
}
.seed_info {
    margin-top: 0.5em;
}

#test_seed
{
	width: 20%;
}
#start_prompt
{
	margin-top: 1em;
}
#end_prompt
{
	margin-top: 1em;
}
textarea.form-control
{
	height: 3em;
}
h3
{
	margin-left: 0.5em;
}
.frame_block
{
	background-color: white;
	border: solid 1px lightgray;
	border-radius: 6px;
	display: inline-grid;
	filter: drop-shadow(0 0 0.15rem #dddddd);
	height: 96px;
	margin: 0.5em;
	padding: 0.33em;
	width: 30%;
}
.arrow-right
{
	border-bottom: 10px solid transparent;
	border-left: 10px solid deeppink;
	border-top: 10px solid transparent;
	height: 0;
}
.interval_num_area
{
	width: 50px;
}
#deleteVideo
{
	border: solid 1px black;
	border-radius: 0.25em;
	float: right;
}
.generated_image.generated_image_active
{
	transition: all 1s ease;
	width: 300px;
}
#loading
{
	background-blend-mode: darken;
	background-color: rgba(0,0,30,0.6);
	background-image: url('https://i.pinimg.com/originals/05/91/c7/0591c7d9ed972c451f02e9d52199f1d6.gif');
	background-size: contain;
	display: none;
	height: 10%;
	opacity: 0.75;
	position: fixed;
	right: 0%;
	width: 100%;
	z-index: 100;
}
#loading_gif
{
	left: 50%;
	mix-blend-mode: darken;
	opacity: 0.2;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
}
.upload
{
	border: none;
	max-width: 96px;
}
.goal-info
{
	width: 50%;
}
.collapsible
{
	background-color: #dedede;
	border: none;
	border: solid 2px deeppink;
	color: white;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	padding: 18px;
	text-align: left;
	width: 100%;
}
.brainstorming_area
{
	border: dashed 2px rgba(255, 20, 145, 0.24);
	border-radius: 0.25em;
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
	padding: 1em;
}
.content
{
	background-color: #f1f1f1;
	padding: 0 18px;
}
.generate_preview_title
{
	background-color: white;
	border-bottom: solid 1px deeppink;
	border-left: solid 1px deeppink;
	border-right: solid 1px deeppink;
	border-top: solid 1px deeppink;
	border-top-right-radius: 0.25em;
	cursor: pointer;
	margin-top: 1em;
	max-width: 300px;
	outline: none;
}
.active, .collapsible:hover
{
	background-color: white;
}
.upload_file_box
{
	display: flex;
	flex-direction: column;
	max-width: 200px;
}
.interval_action_bar
{
	flex-direction: row;
	height: 32px;
}
.user_study_case
{
	position: absolute;
	right: 0px;
}
.preview_prompt_area
{
	border-radius: 0.5em;
	display: flex;
	flex-direction: row;
	margin: 0.5em;
	min-height: 128px;
	padding: 0.5em;
}
.preview-btn
{
	background-color: royalblue;
	color: white;
	float: right;
	font-weight: 600;
	margin-left: 0.25em;
	margin-top: 0.25em;
	max-height: 3em;
	position: relative;
}
.video_interval
{
	display: flex;
	flex-direction: column;
	width: 100%;
}
#interval_previews
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.start_prompt_area
{
	width: 50%;
}
.end_prompt_area
{
	width: 50%;
}
#start
{
	border-radius: 0.25em;
}
#end
{
	border-radius: 0.25em;
}
.main_frame_preview
{
	background-color: #fefefe;
	border: dashed 2px #4498ffdd;
	margin: 0em 0.5em;
	max-height: 128px;
	min-width: 96px;
	padding: 0.5em;
}
.main_frame_preview img
{
	margin: 1em;
}
#waveform
{
	overflow-x: auto;
}
.btn-success
{
	font-size: 1em;
	position: relative;
	top: 0;
}
.preview_input
{
	display: none;
}
#initial_image
{
	background-color: lightgray;
	min-height: 197px;
	min-width: 128px;
}
.generate-btn
{
	background-color: royalblue;
	font-weight: 600px;
}
.btn-danger
{
	font-size: 1em;
	top: 0;
}
#tracks_container
{
	display: flex;
	flex-direction: column;
	padding: 1em;
}
.frame_preview
{
	height: 96px;
	margin: 1px;
}
.slider_end_label
{
	color: white;
	font-size: 0.5em;
	font-weight: 800;
}
#page_container
{
	display: flex;
}
#page_left_container
{
	display: flex;
	flex-direction: column;
	width: 70%;
    margin: 1em;
}
#page_right_container
{
	display: flex;
	overflow: auto;
	width: 30%;
    margin:1em;
}

video
{
	float: right;
	height: 600;
	width: 400;
	z-index: 2;
}
#tracks
{
	width: 100%;
}
#tracks_container
{
	display: flex;
    margin: 1em;
}
#generations_container
{
	background-color: white;
	border-radius: 6px;
	display: flex;
	font-size: 0.75em;
	margin: 0 auto;
	overflow: auto;
	overflow-x: scroll;
	text-align: center;
	width: 100%;
    min-height: 128px;
    margin-bottom: 2em;
}
h3
{
	font-family: 'Gloock', serif;
}
.stitch
{
	background-color: #f7fbfa;
	border: solid 2px deeppink;
	border-radius: 0.25em;
}
.frame_preview
{
	z-index: 1;
}
#logo_container
{
	background-color: white;
	color: deeppink;
	display: flex;
	margin: 0.5em;
	width: 100%;
}
.video_track video
{
	height: 196px;
	margin-left: 1em;
	margin-right: 1em;
}
.preview_btn
{
	background-color: royalblue;
}
.video_track
{
	background-color: rgb(221,221,251);
	border: solid 1px rgb(65,105,225);
	border-radius: 0.25em;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	padding: 0.25em;
}
.full_video_track
{
	border: solid 1px rgb(65,105,225);
	display: flex;
	height: 128px;
	overflow-x: auto;
}
#logo
{
	width: 48px;
}
.promptparams
{
	max-height: 2.8em;
}
label
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.generate_preview_title
{
	margin-top: 3em;
}
#preview_history_area
{
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 18px;
}
#promptcontrols
{
	background-color: white;
	width: 100%;
}
h4
{
	font-weight: bold;
	padding: 1em;
	text-transform: uppercase;
}
h5
{
	color: deeppink;
	font-weight: bold;
	margin: 1em;
	text-transform: uppercase;
}
body
{
	background-color: rgb(225,225,225);
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	font-weight: 200;
}
#prompt_container
{
	border-radius: 5px;
	margin: 0 auto;
	width: 80%;
}
.generation_container
{
	background-color: white;
	display: inline-grid;
	filter: drop-shadow(0 0 0.15rem #dddddd);
	flex-direction: column;
	margin: 0.5em;
	padding: 0.33em;
	position: relative;
	width: 400px;
}
.prompt_box
{
	background-color: #fefefe;
	background-position: 2em;
	background-repeat: no-repeat;
	background-size: 2em;
	border: solid 1px #cccccc;
	border-radius: 0.5em;
	font-size: 0.8em;
	text-indent: 1em;
	width: 100%;
}
hr
{
	background-color: deeppink;
	border: 0;
	clear: both;
	display: block;
	height: 1px;
	width: 96%;
}
.generation_action_button
{
	border: solid 1px #111111;
	border-radius: 0.25em;
	width: 24px;
}
.btn
{
	max-width: 200px;
}
#test_seed
{
	margin-top: 1em;
}
.interval-button
{
	background-color: royalblue;
	border: 0;
	border-radius: 0.25em;
	color: white;
	font-weight: bold;
	margin-right: 1em;
	min-height: 32px;
	padding: 0.5em;
}
.interval_timestamp_area
{
	width: 100px;
}
.btn-block+.btn-block
{
	margin: 0em;
}
#generations_container > img
{
	margin: 0.5em;
	width: 100%;
}
.preview_prompt_area
{
	width: 50%;
}
.preview_form_area
{
	width: 100%;
}
.generated_image
{
	transition: all 1.5s ease;
	width: 256px;
}
#end_prompt_area
{
	float: right;
}
.slidecontainer
{
	width: 100%;
}
.slider
{
	background: #d3d3d3;
	border-radius: 5px;
	opacity: 0.7;
	outline: none;
	transition: opacity .2s;
	webkit-appearance: none;
	webkit-transition: .2s;
	width: 100%;
}
.slider:hover
{
	opacity: 1;
}
.slider::-webkit-slider-thumb
{
	appearance: none;
	background-color: blue;
	border: 0;
	cursor: pointer;
	height: 64px;
	webkit-appearance: none;
	width: 48px;
}
.slider::-moz-range-thumb
{
	background-color: blue;
	border: 0;
	cursor: pointer;
	height: 24px;
	width: 23px;
}
.slidecontainer
{
	display: flex;
}
#start_image
{
	background-color: none;
	border: solid 1px royalblue;
	height: 64px;
	width: 48px;
}
#end_image
{
	background-color: none;
	border: solid 1px royalblue;
	height: 64px;
	width: 48px;
}
button
{
	margin:0em 0.25em;

	padding: 0.25em;
}
button p
{
	vertical-align: middle;
}
.preview_container
{
	height: 100%;
	width: 100%;
}
.video_area
{
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container
{
	float: left;
}
.ui_region
{
	background-color: white;
	border: solid 1px deeppink;
	border-radius: 0.25em;
	border-radius: 6px;
	margin: 0.5em;
	margin-top: 1em;
}
button img
{
	margin-left: 0.25em;
	margin-right: 0.5em;
}
.play-button
{
	background-color: deeppink;
	height: 42px;
	margin-top: 3px;
	width: 150px;
}
#play
{
	margin-top: 5px;
}
#pause
{
	margin-top: 5px;
}
.prompt_labeling_track
{
	border: solid 1px mediumturquoise;
	color: black;
	padding: 0.5em;
	width: 100%;
}
.region
{
	display: flex;
}
.region_number
{
	border: solid 1px lightgray;
	border-radius: 6px;
	color: black;
	font-size: 2em;
	margin: 5px;
	padding: 0.25em;
	width: 64px;
}
.region_number p
{
	justify-self: center;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%,-50%);
}
.dice_button
{
	display: flex;
	flex-direction: column;
}
.switch
{
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
.switch input
{
	height: 0;
	opacity: 0;
	width: 0;
}
.slider
{
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	webkit-transition: .4s;
}
.slider:before
{
	background-color: white;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	webkit-transition: .4s;
	width: 26px;
}
input:checked + .slider
{
	background-color: #2196F3;
}
input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before
{
	ms-transform: translateX(26px);
	transform: translateX(26px);
	webkit-transform: translateX(26px);
}
.slider.round
{
	border-radius: 34px;
}
.slider.round:before
{
	border-radius: 50%;
}
#brainstorm-prompt
{
	width: 50%;
}

.form-input-field {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#interval_number_bar {


    margin: 0.5em 0em;
}